/* Licensing info for the fonts I used can be found on the info.txt page in the countryside-font folder */ 
@font-face {
  font-family: 'Countryside';
  src: url(countryside-font/Countryside-YdKj.ttf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Countryside Italic';
  src: url(countryside-font/CountrysideTwo-r9WO.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Kalam';
  src: url(kalam-font/Kalam-Regular.ttf);
}

/* Changing my defaults */
* {
  margin: 0;
  font-family: 'Kalam';
  font-size: larger;
  color: aliceblue;
}

#wrapper {
  /* stole this color from this palette: https://www.schemecolor.com/shades-of-sky-blue.php */
  background-color: #7bc1fa;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  justify-content: center;
}

article {
  border: 0.2em double aliceblue;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

/* I wanted the text to align at the start instead of the center so that's why this is here */
section {
  width: 100%;
}

/* 
I noticed when I checked my website on my phone on Day 1, the Countryside Italic font 
wasn't loading, but Countryside was working fine, so I'm adding it as a backup in 
case something goes wrong.
*/

h1, h2 {
  font-family: 'Countryside Italic', 'Countryside';
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  /* I used em here because I want the size of h2 to be dependent on the size of h1 */
  font-size: 0.8em;
}

p {
  font-size: 0.6em;
  padding: 0.2em;
}

/* 
here's the tutorial I used to style ul and li:
https://www.freecodecamp.org/news/how-to-style-lists-with-css/ 
*/
ul {
  font-size: 0.7em;
}

/* sizing of li is dependent on ul so better be careful here */
li {
  font-size: 0.8em;
  list-style: disc;
}

.img-container {
  max-width: 50%;
  display: flex;
  align-items: center;
}

.img-container img {
  width: 100%;
}

#goals-list {
  font-size: 0.8em;
}

/* styling for the instructions start page */
#story-title {
  padding: 0.2em;
  padding-top: 0.4em;
}

#story-end {
  padding-bottom: 0.4em;
}

#instructions {
  font-size: 0.8em;
}

/* styling for the poem */
#song-start {
  font-size: 1rem;
  padding-top: 0.6em;
  text-align: center;
  animation: fadeIn 5s;
}

.poem-class {
  font-size: 1rem;
  padding-bottom: 0;
  animation: fadeIn 5s;
}

.stanza-space {
  padding-top: 0.6em;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* making the animations work in other browsers */
/* 
credits for this code:
https://blog.hubspot.com/website/css-fade-in#text-transition 
*/
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
