body {
  background-color: rgb(1, 122, 9);
}

.error {
  color: red;
  font-size: larger;
}

.next {
  position: absolute;
	bottom: 0px;
  margin-bottom: 3%;
  padding-right: 3%;
	width: 100%;
  text-align: end;
}

.link {
  color: rgb(255, 250, 230);
  margin-bottom: 3%;
  margin-right: 3%;
  font-size: x-large;
}

.link:hover {
  color: rgb(1, 122, 9);
}

